body {
	background-color: gainsboro;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.container {
	display: flex;
	flex-direction: row;
	width: 75vw;
	height: 85vh;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	box-shadow: 10px 10px 15px grey;
	max-width: 1440px;
	min-width: 1150px;
	min-height: 700px;
	max-height: 800px;
}
.content {
	height: 100%;
	background-image: url("images/bg-pattern-desktop.svg");
	background-repeat: no-repeat;
	background-color: white;
	flex-direction: column;
	justify-content: center;
	padding-left: 7.5%;
}
.foto img {
	height: 100%;
	width: 65vh;
	min-width: 533px;
	max-width: 610px;
	min-height: 700px;
	max-height: 800px;
}
.logo {
	padding-top: 50px;
	padding-bottom: 150px;
}
.title {
	font-size: 200%;
	color: rosybrown;
	align-content: center;
	line-height: 2em;
	padding-bottom: 25px;
	letter-spacing: 15px;
}
.header1 {
	margin: 0;
	font-weight: 200;
}
.header2 {
	color: black;
	margin: 0;
	font-weight: 500;
}
.emailbox {
	position: relative;
	border: 1px solid rgb(245, 184, 183);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
}
input {
	position: absolute;
	outline: none;
	border-radius: 40px;
	height: 40px;
	width: 400px;
	z-index: 1;
	text-indent: 5%;
	border: 1px solid rgb(245, 184, 183);
}
button {
	position: absolute;
	right: 0px;
	border-radius: 40px;
	border: none;
	height: 44px;
	width: 70px;
	z-index: 3;
	right: -5px;
	background: rgb(239, 147, 148);
	background: linear-gradient(
		311deg,
		rgba(239, 147, 148, 1) 61%,
		rgba(245, 184, 183, 1) 81%);
	box-shadow: 0px 6px 10px rgb(239, 147, 148);
}
button img {
	position: absolute;
	right: 0px;
	border-radius: 40px;
	height: 35px;
	width: 20px;
	z-index: 2;
	right: 30%;
	top: 10%;
	background-size: 46px 70px;
}
.text {
	color: rosybrown;
	padding-right: 30%;
	padding-bottom: 40px;
	line-height: 30px;
}
footer {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input:invalid:focus {
	border-color: rgb(245, 184, 183);
	background-image: url("images/icon-error.svg");
	background-repeat: no-repeat;
	background-position: 80%;
}
input:required:invalid {
	border: 1px solid rgb(245, 184, 183);
	position: absolute; 
}
input:invalid:focus ~ small {
	position: relative;
	z-index: 3;
	color: tomato;
	font-weight: 600;
	top: 40px;
	left: -100px;
}
.navbar{
	display: none;
}

@media (max-width: 375px){
	*{
		box-sizing: border-box;
		max-width: 375px;
		margin: 0;
	}
	body {
		margin: 0;
		min-width: 320px;
		max-width: 375px;
		min-height: 940px;
		background-image: url("images/bg-pattern-desktop.svg");
		background-repeat: no-repeat;
	}
	 .container {
		display: absolute;
		margin: 0;
		padding: 0;
		/* height: 100vh; */
		width: 100%;
		min-width: 320px;
		max-width: 375px;
		min-height: 940px;
		max-height: 1500px;
	} 
	.background {
		display: none;
	}
	.content {
		width: 100%;
		min-width: 320px;
		max-width: 375px;
		min-height: 940px;
		max-height: 1500px;
		/* height: 100vh; */
		position: absolute;	
		padding: 0 25px;
	}
	.foto{
		min-width: 320px;
		max-width: 375px;
		width: 100%;
		height: auto;
	}
	.foto img{
		clip: rect(65px, auto, 420px, auto);
		min-width: 320px;
		max-width: 375px;
		width: 100vw;
		height: auto;
		position: absolute;
		top: 70px;
	}

	.logo{
		position: relative;
		top: 60px;
		padding: 10px;
	}

	.title{
		position: relative;
		font-size: 1.5em;
		text-align: center;
		top: 480px;
	}
	.text{
		position: relative;
		padding: 0;
		top: 490px;
		text-align: center;
		font-size: 0.90em;
		font-weight: 500;
	}
	.emailbox {
		position: relative;
		width: 100%;
		top: 520px;
	}
	input {
		width: 100%;
		align-items: center;
	}
	input:invalid:focus {
		background-position: 70%;
	}
	input:invalid:focus ~ small {
		top: 30px;
		left: -50px;
	}

	.navbar{
		display: block;
		position: fixed;  
		top: 0;  
		min-width: 320px;
		height: 50px;
		width: 100%;
		background: linear-gradient(
		311deg,
		rgba(239, 147, 148, 1) 61%,
		rgba(245, 184, 183, 1) 81%); 
		z-index: 6;
	} 
	.menu{
		height: 50px;
		width: 100%;
		padding: 0;
		display: none;
	}
	.item {  
		position: fixed;
		font-size: 2em;
		top: 50px;  
		height: 50px;
		width: 100%;
		list-style-type: none;
		text-align: center;
		background: linear-gradient(
		311deg,
		rgba(239, 147, 148, 1) 61%,
		rgba(245, 184, 183, 1) 81%);
	}
	.hamburger-menu{    
		padding: 5px;  
		cursor: pointer;
		height: 50px;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.button-down{
		position: relative;
		left: 50%;
		top: 10px;
		z-index: 8;
	}
	.button-up{
		display: none;
		position: relative;
		left: 50%;
		top: 10px;
		z-index: 8;
	}

	.menu-change{
		display: inherit;
	}
	.change .button-up{
		display: block;
	}
	.change .button-down{
		display: none;
	}
}